//colors
$MAIN-COLOR: #2B3A41;
$INNER-CARD-COLOR: #919BA2;
$SECOND-COLOR: #9B9B9B;
$THIRD-COLOR: #4D4D4D;
$BTN-COLOR: #567482;
$COLOR-WHITE: #F9FDFF;
$FOOTER-COLOR: #1B262A;
//font


$BASKERVVILLE: "Baskervville", sans-serif;
$DMSANS: "Dm Sans", sans-serif;




