/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Dm Sans", sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.text-color--semi--dark {
  color: #333333;
}

.text-color--default {
  color: black !important;
}

.text-color--white {
  color: #ffff !important;
}

.b {
  font-style: italic;
  font-size: 72px !important;
  font-size: 60px !important;
}

.font-dm--sans {
  font-family: "Dm Sans", sans-serif !important;
}

.max-w {
  max-width: 300px;
}

@media screen and (min-width: 375px) {
  .sec__title-sm {
    font-size: 40px !important;
  }
}

@media screen and (min-width: 560px) {
  .max-w {
    max-width: 400px;
  }
  .p-l-sm {
    padding-left: 50px;
  }
  .sec__title-sm {
    font-size: 48px !important;
  }
}

@media screen and (min-width: 768px) {
  .p-l-sm {
    padding-left: 0 !important;
  }
  .max-w {
    max-width: 472px !important;
    min-height: 237px;
  }
  .hero__title-md {
    font-size: 102px !important;
    line-height: 80px !important;
  }
  .sec__sub__title-sec4-md {
    font-size: 24px !important;
  }
  .sec__sub-title {
    font-size: 20px !important;
  }
  .sec__price {
    font-size: 32px !important;
  }
  .sec__description {
    line-height: 26px !important;
  }
  .sec__sub__title-sec4 {
    font-size: 20px !important;
  }
  .sec__title-md {
    font-size: 32px !important;
  }
}

@media screen and (min-width: 992px) {
  .hero__title-lg {
    font-size: 102px !important;
    line-height: 80px !important;
  }
  .sec__title-lg {
    font-size: 48px !important;
  }
  .sec-lh {
    line-height: 64px !important;
  }
  .sec__title-lg-40 {
    font-size: 40px !important;
  }
  .sec__price {
    font-size: 40px !important;
  }
  .sec__sub-title {
    font-size: 24px !important;
  }
  .sec9__sub-title {
    font-size: 16px !important;
  }
  .sec__description {
    line-height: 32px !important;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title-xl {
    font-size: 102px !important;
  }
  .sec__title {
    font-size: 56px !important;
  }
  .sec__price {
    font-size: 40px !important;
  }
  .sec__title-xl-48 {
    font-size: 48px !important;
  }
}

.hero__title {
  font-style: italic;
  font-size: 76px;
  line-height: 60px;
  font-weight: 400;
  font-family: "Baskervville", sans-serif;
}

.sec__title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  font-family: "Baskervville", sans-serif;
}

.sec__sub-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.sec__sub__title-sec4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.title__line {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.footer__link {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Baskervville", sans-serif;
}

.sec__price {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  font-family: "Baskervville", sans-serif;
}

.sec__description {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.sec__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.sec__description--xs {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

.sec__btn {
  font-size: 16px;
  line-height: 20.83px;
  font-weight: 700;
}

.letter-sp-2 {
  letter-spacing: 2px;
}

.footer__links {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Dm Sans", sans-serif;
}

.t-a-center {
  text-align: center;
}

.sec__btn {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  font-family: "Dm Sans", sans-serif;
}

.bg-c-main {
  background: #2B3A41;
}

.card-color-main {
  background-color: #2B3A41;
}

.card-color-secondary {
  background: #919BA2;
  margin-top: 0 !important;
}

.color-card-default {
  background: #F9FDFF;
}

.p-z {
  padding: 40px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
}

.row .row {
  margin-left: -15px;
  margin-right: -15px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 370px) {
  .container {
    max-width: 470px;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
}

.column {
  padding: 0 15px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.column-1 {
  width: calc(1 / 12 * 100%);
}

.column-2 {
  width: calc(2 / 12 * 100%);
}

.column-3 {
  width: calc(3 / 12 * 100%);
}

.column-4 {
  width: calc(4 / 12 * 100%);
}

.column-5 {
  width: calc(5 / 12 * 100%);
}

.column-6 {
  width: calc(6 / 12 * 100%);
}

.column-7 {
  width: calc(7 / 12 * 100%);
}

.column-8 {
  width: calc(8 / 12 * 100%);
}

.column-9 {
  width: calc(9 / 12 * 100%);
}

.column-10 {
  width: calc(10 / 12 * 100%);
}

.column-11 {
  width: calc(11 / 12 * 100%);
}

.column-12 {
  width: calc(12 / 12 * 100%);
}

@media screen and (min-width: 576px) {
  .column-sm-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-sm-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-sm-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-sm-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-sm-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-sm-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-sm-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-sm-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-sm-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-sm-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-sm-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-sm-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 768px) {
  .column-md-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-md-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-md-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-md-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-md-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-md-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-md-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-md-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-md-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-md-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-md-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-md-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 992px) {
  .column-lg-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-lg-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-lg-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-lg-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-lg-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-lg-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-lg-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-lg-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-lg-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-lg-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-lg-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-lg-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1200px) {
  .column-xl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xl-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1400px) {
  .column-xxl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xxl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xxl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xxl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xxl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xxl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xxl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xxl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xxl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xxl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xxl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xxl-12 {
    width: calc(12 / 12 * 100%);
  }
}

#footer {
  padding-top: 170px !important;
  background: #1B262A;
  padding-bottom: 50px;
  color: #F9FDFF;
}

#footer a {
  position: relative;
  display: block;
  cursor: pointer;
  color: white;
}

#footer a:before, #footer a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

#footer a:before {
  left: -2.5px;
}

#footer a:after {
  right: 2.5px;
  background: #fff;
  -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#footer a:hover:before {
  background: #fff;
  width: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#footer a:hover:after {
  background: transparent;
  width: 100%;
  -webkit-transition: 0s;
  transition: 0s;
}

#footer a {
  color: #F9FDFF;
}

#footer .footer__line {
  background: #F9FDFF;
  height: 1px;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 50px;
}

#footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar {
  position: absolute;
  background-color: #2B3A41;
  width: 100%;
  -webkit-transition: .8s ease;
  transition: .8s ease;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
  #navbar {
    padding: 0 20px;
    padding-bottom: 20px;
  }
}

#header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

#header a {
  position: relative;
  display: block;
  cursor: pointer;
  color: white;
}

#header a:before, #header a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

#header a:before {
  left: -2.5px;
}

#header a:after {
  right: 2.5px;
  background: #fff;
  -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#header a:hover:before {
  background: #fff;
  width: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#header a:hover:after {
  background: transparent;
  width: 100%;
  -webkit-transition: 0s;
  transition: 0s;
}

#header .nav {
  padding-top: 50px;
}

#header .nav__btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  #header li {
    padding: 0 30px !important;
  }
}

#header .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .nav__links li {
  display: inline-block;
}

#footer {
  padding-top: 170px !important;
  background: #1B262A;
  padding-bottom: 50px;
  color: #F9FDFF;
}

#footer a {
  position: relative;
  display: block;
  cursor: pointer;
  color: white;
}

#footer a:before, #footer a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

#footer a:before {
  left: -2.5px;
}

#footer a:after {
  right: 2.5px;
  background: #fff;
  -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#footer a:hover:before {
  background: #fff;
  width: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#footer a:hover:after {
  background: transparent;
  width: 100%;
  -webkit-transition: 0s;
  transition: 0s;
}

#footer a {
  color: #F9FDFF;
}

#footer .footer__line {
  background: #F9FDFF;
  height: 1px;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 50px;
}

#footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn--l-w-f {
  width: 100%;
  max-width: 4em;
}

.btn--l-w-f-l {
  width: 100%;
  max-width: 5em;
}

.btn--m-w-f {
  width: 100%;
  max-width: 3em;
}

.btn--s-w-f {
  width: 100%;
  max-width: 2.5em;
}

.btn--2-w {
  width: 100%;
  max-width: 150px;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.m-b-32 {
  margin-bottom: 32px;
}

.m-b-36 {
  margin-bottom: 36px;
}

.m-b-90 {
  margin-bottom: 90px !important;
}

.mt-220 {
  margin-top: 220px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-c-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-c-s-a {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-d-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.align-item-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-none {
  display: none;
}

.m-l-t {
  padding-left: 40px;
}

@media screen and (max-width: 992px) {
  .d-none-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .m-l-md {
    margin-left: 40px;
  }
  .mt-50-md {
    margin-top: 50px;
  }
  .justify-c-f-s-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .d-none-md {
    display: none;
  }
  .d-block-md {
    display: block;
  }
  .d-flex-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-g-1-md {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
  .justify-c-start-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .justify-c-sb-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .justify-c-c-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .align-item-c-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .h-50-md {
    height: 50vh;
  }
}

@media screen and (min-width: 992px) {
  .d-none-lg {
    display: none;
  }
  .h-100-lg {
    height: 100vh;
  }
}

@media screen and (min-width: 1200px) {
  .title__line-xl-75 {
    padding-top: 75px !important;
  }
  .title__line-xl-40 {
    padding-top: 40px !important;
  }
  .section__img {
    max-width: 570px;
  }
}

@media screen and (min-width: 1200px) {
  .p-l-xl {
    padding-left: 130px;
  }
}

.section__card {
  max-width: 375;
  padding: 75px 50px;
}

.img_circle {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.section__img--rel {
  position: relative;
}

.inner__card {
  position: absolute;
  bottom: 90px;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .section__card {
    padding: 50px 50px !important;
  }
  .right__card {
    padding: 53px 50px !important;
  }
}

@media screen and (min-width: 992px) {
  .section__card {
    padding: 60px 80px !important;
  }
  .right__card {
    padding: 66px 80px !important;
  }
}

@media screen and (min-width: 1200px) {
  .section__card {
    padding: 80px 100px !important;
    height: 100%;
  }
  .right__card {
    padding: 110px 100px !important;
  }
}

@media screen and (min-width: 1400px) {
  .section__card {
    padding: 110px 100px !important;
  }
  .left__card {
    padding: 88px 100px !important;
  }
  .right__card {
    padding: 118px 100px !important;
  }
}

#section2 .inner__card {
  color: #333333;
  background-color: #ffff;
  padding: 50px 40px;
}

@media screen and (min-width: 576px) {
  #section2 .inner__card {
    color: #333333;
    background-color: #ffff;
    padding: 60px 90px;
  }
}

@media screen and (min-width: 768px) {
  #section2 .inner__card {
    color: #333333;
    background-color: #ffff;
    padding: 35px 45px;
  }
}

@media screen and (min-width: 992px) {
  #section2 .inner__card {
    color: #333333;
    background-color: #ffff;
    padding: 36px 60px;
  }
}

@media screen and (min-width: 1200px) {
  #section2 .inner__card {
    color: #333333;
    background-color: #ffff;
    padding: 36.5px 60px;
  }
}

@media screen and (min-width: 1400px) {
  #section2 .inner__card {
    color: #333333;
    background-color: #ffff;
    padding: 36.5px 60px;
  }
}

.m {
  padding-left: 30px;
}

#section8 .section__card {
  padding: 48px !important;
}

#section10 .left__card {
  padding: 75px 0px 90px 50px;
}

#section10 .right__card {
  padding: 75px 0px 90px 50px;
}

@media screen and (min-width: 768px) {
  #section10 .left__card {
    padding: 75px 0px 60px 50px !important;
  }
  #section10 .right__card {
    padding: 75px 0px 73px 50px !important;
  }
}

@media screen and (min-width: 992px) {
  #section10 .left__card {
    padding: 75px 0px 60px 100px !important;
  }
  #section10 .right__card {
    padding: 75px 0px 79px 100px !important;
  }
}

body {
  overflow-x: hidden;
}

.section__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.title__line {
  margin-bottom: 30px;
}

.title__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.title__line:before {
  content: '';
  display: inline-block;
  height: 1px;
  background: #333333;
  width: 54px;
  position: relative;
  vertical-align: middle;
}

.title__line:before {
  left: -0.5em;
}

.title__line--white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.title__line--white:before {
  content: '';
  display: inline-block;
  height: 1px;
  background: #F9FDFF;
  width: 54px;
  position: relative;
  vertical-align: middle;
}

.title__line--white:before {
  left: -0.5em;
}

@media screen and (min-width: 768px) {
  .title__line {
    margin-bottom: 20px !important;
  }
}

.sec__sub-title {
  margin-bottom: 20px;
}

.sec__title {
  margin-bottom: 68px;
}

.max-w-189 {
  max-width: 189px;
}

@media screen and (max-width: 767px) {
  .sec__title-max-w {
    max-width: 329px;
  }
}

@media screen and (min-width: 768px) {
  .sec__title-max-w {
    max-width: 500px !important;
  }
}

@media screen and (max-width: 992px) {
  #section1 {
    margin-top: 600px;
  }
}

@media screen and (max-width: 768px) {
  #section1 {
    margin-top: 560px;
  }
}

@media screen and (min-width: 992px) {
  #section1 {
    margin-top: 148px;
  }
}

#section1 {
  padding-top: 30px;
  margin-bottom: 150px;
}

#section1 .row {
  background: #F9FDFF;
}

#section1 .sec__title {
  margin-bottom: 32px;
}

#section1 .sec__description {
  margin-bottom: 32px;
}

@media screen and (max-width: 576px) {
  #section1 .section__img {
    max-width: 400px;
  }
}

@media screen and (min-width: 576px) {
  #section1 .section__img {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  #section1 .section__img {
    max-width: 570px;
  }
}

#section2 {
  margin-bottom: 140px;
}

#section2 .section__img {
  max-width: 375px;
  min-height: 384px;
}

#section3 {
  margin-bottom: 150px;
}

#section3 .sec3__rel {
  position: relative;
}

#section3 .sec3__img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  top: 208px;
  right: 32px;
  background-color: #2B3A41;
  width: 96px;
  height: 96px;
  z-index: 99;
}

#section3 .sec__img {
  margin-bottom: 40px;
}

@media screen and (max-width: 576px) {
  #section3 .section__img {
    max-width: 540px !important;
    min-height: 280px !important;
  }
}

@media screen and (max-width: 768px) {
  #section3 .section__img {
    max-width: 400px;
    min-height: 280px !important;
  }
}

@media screen and (min-width: 992px) {
  #section3 .section__img {
    max-width: 329px;
    min-height: 290px;
    max-height: 290px;
  }
}

@media screen and (min-width: 992px) {
  #section3 .section__img {
    max-width: 370px;
    min-height: 290px;
  }
}

#section4 {
  margin-bottom: 170px;
}

#section4 .menu-p {
  padding: 15px 0;
}

#section4 .section__img {
  margin-right: 35px;
  max-width: 200px;
  min-height: 150px;
}

#section4 .sec__sub-title {
  margin: 0;
}

@media screen and (min-width: 576px) {
  #section4 .sec__sub__title-sec4 {
    margin-bottom: 32px;
  }
  #section4 .section__img {
    margin-right: 35px;
    max-width: 300px;
    min-height: 200px;
  }
}

@media screen and (min-width: 768px) {
  #section4 .sec__sub__title-sec4 {
    margin-bottom: 32px;
  }
  #section4 .section__img {
    margin-right: 35px;
    max-width: 200px;
    min-height: 150px !important;
  }
}

@media screen and (min-width: 992px) {
  #section4 .sec__price {
    margin-right: 30px;
  }
  #section4 .sec__sub__title-sec4 {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 992px) {
  #section4 .sec__sub__title-sec4 {
    margin-bottom: 40px;
  }
}

#section5 {
  margin-bottom: 200px;
}

#section5 .section__img {
  max-width: 700px;
  min-height: 84px;
}

@media screen and (min-width: 768px) {
  #section5 .section__img {
    min-height: 311.5px !important;
  }
}

@media screen and (min-width: 992px) {
  #section5 .section__img {
    min-height: 332px !important;
  }
  #section5 .sec__title-l-h {
    line-height: 64px !important;
  }
}

@media screen and (min-width: 1200px) {
  #section5 .section__img {
    min-height: 372px !important;
  }
}

@media screen and (min-width: 1400px) {
  #section5 .section__img {
    min-height: 432px !important;
  }
}

#section6 {
  margin-bottom: 130px;
}

#section6 .sec__title {
  margin-bottom: 32px;
}

@media screen and (max-width: 576px) {
  #section6 .section__img {
    max-width: 400px;
  }
}

@media screen and (min-width: 576px) {
  #section6 .section__img {
    max-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  #section6 .section__img {
    max-width: 570px;
  }
}

#section7 {
  margin-bottom: 170px;
}

#section7 .sec__title {
  max-width: 270px;
}

#section7 .img__relative {
  position: relative;
}

#section7 .event__text {
  color: #F9FDFF;
  position: absolute;
  z-index: 999;
  bottom: 48%;
  left: 31%;
}

@media screen and (max-width: 576px) {
  #section7 .section__img {
    margin-bottom: 32px;
    max-width: 400px;
  }
}

@media screen and (min-width: 576px) {
  #section7 .section__img {
    max-width: 500px;
    min-height: 288px !important;
  }
}

@media screen and (min-width: 576px) {
  #section7 .section__img {
    max-width: 370px;
  }
}

#section8 {
  margin-bottom: 200px;
}

#section8 .section__img {
  max-width: 170px;
  min-height: 170px;
  margin-bottom: 46px;
}

#section8 .sec__title {
  margin-bottom: 32px;
}

#section8 .sec__sub-title {
  margin-bottom: 32px;
}

#section8 .sec__description {
  margin-bottom: 32px;
}

#section9 {
  margin-bottom: 200px;
}

#section9 a {
  position: relative;
  display: block;
  cursor: pointer;
  color: #2B3A41;
}

#section9 a:before, #section9 a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

#section9 a:before {
  left: -2.5px;
}

#section9 a:after {
  right: 2.5px;
  background: #fff;
  -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#section9 a:hover:before {
  background: #fff;
  width: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#section9 a:hover:after {
  background: transparent;
  width: 100%;
  -webkit-transition: 0s;
  transition: 0s;
}

#section9 .section__img {
  margin-bottom: 26px;
}

#section9 .sec__sub-title {
  margin-bottom: 15px;
}

@media screen and (max-width: 576px) {
  #section9 .section__img {
    max-width: 270px !important;
  }
}

@media screen and (min-width: 576px) {
  #section9 .section__img {
    max-width: 370px !important;
  }
}

@media screen and (min-width: 992px) {
  #section9 .section__img {
    max-width: 270px !important;
  }
}

#section10 {
  margin-bottom: -80px;
}

.btn {
  padding: 13px 28px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #05352c;
  color: #F9FDFF;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.btn-1 {
  background-color: transparent;
  color: #F9FDFF;
}

.btn-2 {
  background-color: #2B3A41;
  color: #F9FDFF;
}

.btn-3 {
  background-color: #ECBB9C;
  color: #F9FDFF;
  border: none;
}

.btn-4 {
  color: #2B3A41;
  border: 1px solid #2B3A41;
  background-color: transparent;
}

.btn-5 {
  color: #F9FDFF;
  border: 1px solid #F9FDFF;
  background-color: transparent;
}

.icon__links {
  padding: 16px;
  border: none;
  border-radius: 50%;
  margin-right: 1rem;
  color: #F9FDFF;
  cursor: pointer;
  background-color: #ECBB9C;
}

.icon__fb:hover {
  background-color: #0d8cf1;
  color: #F9FDFF;
}

.icon__insta:hover {
  background-color: #2C6A93;
  color: #F9FDFF;
}

.icon__twit:hover {
  background-color: #00B6F1;
  color: #F9FDFF;
}

.burger-menu {
  background-color: #ECBB9C;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #F9FDFF;
  border: none;
  cursor: pointer;
}

.burger-menu:hover {
  background-color: #ECBB9C;
  background-color: #05352c;
}

#hero {
  position: relative;
}

#hero .p-b-40 {
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  #hero .title__line {
    margin-top: 90px;
  }
}

@media screen and (max-width: 992px) {
  #hero .title__line {
    margin-top: 100px;
  }
}

#right__half {
  content: "";
  background: url("/assets/img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 420px;
  top: 480px;
  width: 100%;
  position: absolute;
  right: 0px;
  z-index: -1;
}

#left__half {
  min-height: 480px;
  content: "";
  width: 100%;
  position: absolute;
  left: 0px;
  z-index: -1;
  background-color: #2B3A41;
}

@media screen and (min-width: 768px) {
  #right__half {
    content: "";
    background: url("/assets/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 540px;
    top: 560px;
    width: 100%;
    position: absolute;
    right: 0px;
    z-index: -1;
  }
  #left__half {
    min-height: 560px;
    content: "";
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: -1;
    background-color: #2B3A41;
  }
}

@media screen and (min-width: 992px) {
  #right__half {
    content: "";
    background: url("/assets/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
  }
  #left__half {
    height: 100vh;
    content: "";
    width: 50%;
    position: absolute;
    left: 0px;
    z-index: -1;
    background-color: #2B3A41;
  }
}
/*# sourceMappingURL=main.css.map */