/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Dm Sans", sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .sec__price {
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
  }
  .sec__sub-title {
    font-size: 20px !important;
    font-weight: 700;
    line-height: 32px;
  }
}

@media screen and (min-width: 992px) {
  .sec__title {
    font-family: "Baskervville", sans-serif;
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
  }
  .sec__sub__title {
    font-size: 20px !important;
  }
}

.sec__title {
  font-family: "Baskervville", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

.sec__sub__title {
  font-family: "Baskervville", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.title__line {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.sec__price {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

.sec__description {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.sec__sub-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.sec__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.sec__description--xs {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.sec__btn {
  font-size: 16px;
  line-height: 20.83px;
  font-weight: 700;
}

.letter-sp-2 {
  letter-spacing: 2px;
}

.t-a-center {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.column {
  padding: 0 15px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.column-1 {
  width: calc(1 / 12 * 100%);
}

.column-2 {
  width: calc(2 / 12 * 100%);
}

.column-3 {
  width: calc(3 / 12 * 100%);
}

.column-4 {
  width: calc(4 / 12 * 100%);
}

.column-5 {
  width: calc(5 / 12 * 100%);
}

.column-6 {
  width: calc(6 / 12 * 100%);
}

.column-7 {
  width: calc(7 / 12 * 100%);
}

.column-8 {
  width: calc(8 / 12 * 100%);
}

.column-9 {
  width: calc(9 / 12 * 100%);
}

.column-10 {
  width: calc(10 / 12 * 100%);
}

.column-11 {
  width: calc(11 / 12 * 100%);
}

.column-12 {
  width: calc(12 / 12 * 100%);
}

@media screen and (min-width: 576px) {
  .column-sm-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-sm-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-sm-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-sm-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-sm-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-sm-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-sm-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-sm-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-sm-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-sm-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-sm-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-sm-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 768px) {
  .column-md-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-md-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-md-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-md-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-md-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-md-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-md-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-md-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-md-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-md-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-md-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-md-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 992px) {
  .column-lg-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-lg-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-lg-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-lg-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-lg-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-lg-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-lg-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-lg-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-lg-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-lg-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-lg-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-lg-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1200px) {
  .column-xl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xl-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1400px) {
  .column-xxl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xxl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xxl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xxl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xxl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xxl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xxl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xxl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xxl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xxl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xxl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xxl-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 768px) {
  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-d-r {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .align-i {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .m-t-0 {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 992px) {
  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-d-r {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .align-i {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p-z-t-80x100 {
    padding: 80px 100px !important;
  }
  .p-t-60 {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-i-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-i-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-wrap {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-c-s-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-c-f-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-c-s-a {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-g-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.over-flow-u {
  overflow: unset;
}

.over-flow-h {
  overflow: hidden;
}

.object-f-c {
  -o-object-fit: cover;
     object-fit: cover;
}

.max-w-270px {
  width: 100%;
  max-width: 270px;
}

.p-z-40 {
  padding: 40px;
}

.p-z-48x48 {
  padding: 48px 48px;
}

.p-z-40x56 {
  padding: 40px 56px;
}

.p-z-75x50 {
  padding: 75px 50px;
}

.p-z-75x26 {
  padding: 75px 26px;
}

.p-z-t-80 {
  padding: 80px 0;
}

.p-z-t-80x24 {
  padding: 80px 24px;
}

.title__line--padding-b {
  padding-bottom: 32px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-24 {
  padding-bottom: 24px;
}

.p-b-26 {
  padding-bottom: 26px;
}

.p-b-32 {
  padding-bottom: 32px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-48 {
  padding-bottom: 48px;
}

.p-b-56 {
  padding-bottom: 56px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-b-70 {
  padding-bottom: 70px;
}

.p-b-80 {
  padding-bottom: 80px;
}

.p-b-90 {
  padding-bottom: 90px;
}

.text-color-default {
  color: #F9FDFF;
}

.max-w-170 {
  max-width: 170px;
}

.section__card {
  height: 100%;
  padding: 75px 30px;
}

.bg-c-main {
  background: #2B3A41;
}

.card-color-main {
  background-color: #2B3A41;
}

.card-color-secondary {
  background: #919BA2;
  margin-top: 0 !important;
}

.color-card-default {
  background: #F9FDFF;
}

.img-mx-200 {
  max-width: 200px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .section__card {
    max-width: 585px;
  }
}

@media screen and (min-width: 768px) {
  .section__card-md {
    padding: 50px 30px !important;
  }
  .p-z-50x40 {
    padding: 50px 40px;
  }
  .p-0 {
    padding: 0 !important;
  }
  .p-t-md-0 {
    padding-top: 0 !important;
  }
  .m-t-md-0 {
    padding-top: 0 !important;
  }
  .inner--card {
    padding: 0px 20px;
  }
  .o-hidden {
    overflow: hidden;
  }
}

.section__img {
  width: 100%;
  max-width: 340px;
}

@media screen and (max-width: 576px) {
  #section1 .section__img--center {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  #section1 .section__img {
    max-width: 400px;
  }
}

@media screen and (min-width: 576px) {
  #section1 .section__img--center {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  #section1 .section__img {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  #section1 .section__img {
    max-width: 450px;
  }
}

@media screen and (min-width: 992px) {
  #section1 .section__img {
    max-width: 570px;
  }
}

@media screen and (min-width: 768px) {
  #section2 .column-md-6 {
    max-height: 384px;
  }
}

@media screen and (max-width: 576px) {
  #section3 .section__img--center {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  #section3 .section__img {
    max-width: 540px;
  }
}

@media screen and (min-width: 576px) {
  #section3 .section__img--center {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  #section3 .section__img {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  #section3 .section__img {
    max-width: 450px;
  }
}

#section4 .section__img {
  max-width: 200px;
}

@media screen and (min-width: 576px) {
  #section4 .section__img {
    max-width: 250px;
  }
}

@media screen and (min-width: 992px) {
  #section4 .section__img {
    max-width: 200px;
  }
}

#section5 .section__img {
  max-width: 585px;
}

@media screen and (min-width: 768px) {
  #section5 .section__img {
    max-width: 585px;
  }
  #section5 .column-md-6 {
    max-height: 250px;
  }
}

@media screen and (min-width: 992px) {
  #section5 .column-md-6 {
    max-height: 385px;
  }
}

#section6 .section__img {
  max-width: 585px;
}

@media screen and (max-width: 576px) {
  #section6 .section__img--center {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
  }
  #section6 .section__img {
    max-width: 540px;
  }
}

@media screen and (min-width: 576px) {
  #section6 .section__img--center {
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
  }
  #section6 .section__img {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  #section6 .section__img {
    max-width: 450px;
  }
}

@media screen and (min-width: 992px) {
  #section6 .section__img {
    max-width: 570px;
  }
}

#section7 .section__img {
  max-width: 585px;
}

@media screen and (min-width: 576px) {
  #section7 .section__img {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  #section7 .section__img {
    max-width: 450px;
  }
}

@media screen and (min-width: 576px) {
  #section8 .section__img {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  #section8 .section__img {
    max-width: 450px;
  }
}

@media screen and (min-width: 992px) {
  #section8 .section__img {
    max-width: 570px;
  }
}

#section9 .section__img {
  max-width: 270px;
}

@media screen and (min-width: 576px) {
  #section9 .section__img {
    max-width: 500px !important;
  }
}

@media screen and (min-width: 768px) {
  #section10 .column-md-6 {
    max-height: 384px;
  }
}

#section1 {
  padding-top: 128px;
  margin-bottom: 144px;
}

#section2 {
  margin-bottom: 139px;
}

#section2 a {
  color: #F9FDFF;
}

#section3 {
  margin-bottom: 155px;
}

#section4 {
  margin-bottom: 160px;
}

#section4 a {
  color: #F9FDFF;
}

#section5 {
  margin-bottom: 176px;
}

#section5 a {
  color: #F9FDFF;
}

#section6 {
  margin-bottom: 162px;
}

#section7 {
  margin-bottom: 137px;
}

#section8 {
  margin-bottom: 149px;
}

#footer {
  background-color: #2B3A41;
}
/*# sourceMappingURL=main.css.map */