.btn {
  padding: 13px 28px;
  cursor: pointer;
  text-transform: uppercase;
 
}
.btn:hover{
  background-color: rgb(5, 53, 44) ;
  color: $COLOR-WHITE;
  transition: .4s ease-in-out;
}
.btn-1 {
  background-color: transparent;
  color: $COLOR-WHITE;
}

.btn-2 {
  background-color: $MAIN-COLOR;
  color: $COLOR-WHITE;
}

.btn-3 {
  background-color: $FOURTH-COLOR;
  color: $COLOR-WHITE;
  border: none;
}
.btn-4 {
  color: $MAIN-COLOR;
  border: 1px solid $MAIN-COLOR;
  background-color: transparent;
}

.btn-5 {
  color: $COLOR-WHITE;
  border: 1px solid $COLOR-WHITE;
  background-color: transparent;
}


.icon__links{
  padding: 16px;
  border: none;
  border-radius: 50%;
  margin-right: 1rem;
  color: $COLOR-WHITE;
  cursor: pointer;
  background-color: $FOURTH-COLOR;
}

.icon__fb:hover{
  background-color: #0d8cf1 ;
  color: $COLOR-WHITE;
}
.icon__insta:hover{
  background-color: #2C6A93; ;
  color: $COLOR-WHITE;
}
.icon__twit:hover{
  background-color: #00B6F1 ;
  color: $COLOR-WHITE;
}
.burger-menu{
  background-color: $FOURTH-COLOR;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: $COLOR-WHITE;
  border: none;
  cursor: pointer;
}
.burger-menu:hover{
  background-color: $FOURTH-COLOR;
  background-color: rgb(5, 53, 44) ;
  
}