.sec__btn{
   width: 100%;
   max-width: 170px;
   max-height: 48px;
   padding: 1rem;
   border: 1px solid $BTN-COLOR; 
   display: flex;
   justify-content: center;
 
}
.bg-color--btn{
    background-color: $BTN-COLOR;
}
.default-color--btn{
    border: 1px solid $COLOR-WHITE; 
}
.btn-color{
    color: $BTN-COLOR;
}    
.btn-color-white{
    color: $COLOR-WHITE;
} 
.menu{
    width: 100%;
}
.bg-small-img{
    background: $MAIN-COLOR;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}