.section__card{
    max-width: 585px;
    margin: 0 auto;
}
@media screen and (min-width: 576px){   
    .section__card{
        max-width: 585px;
        padding: 0;
    }
}
@media screen and (min-width: 768px){   
    .section__card{
        max-width: 585px;
        
    }
} 
  

