.section__card{
    max-width: 585px;
    margin: 0 auto;
}
.bg-c-main{
    background: $MAIN-COLOR;
}
.card-color-main{
    background-color: $MAIN-COLOR;
}
.card-color-secondary{
    background: $INNER-CARD-COLOR;
    margin-top: 0 !important;
}
.color-card-default{
    background: $COLOR-WHITE;
}

.img-mx-200{
    max-width: 200px;
    width: 100%;
}

@media screen and (min-width: 576px){   
    .section__card{
        max-width: 585px;
        padding: 0;
    }
}
@media screen and (min-width: 768px){   
    .section__card{
        max-width: 585px;
        
    }
} 
  

