.section__card {
  max-width: 375;
  padding: 75px 50px;
}
.img_circle {
  object-fit: cover;
  border-radius: 50%;
}
.section__img--rel {
  position: relative;
}
.inner__card {
  position: absolute;
  bottom: 90px;
  right: 20px;
}
@media screen and (min-width: 768px) {
  .section__card {
    padding: 50px 50px !important;
  }
  .right__card {
    padding: 53px 50px !important;
  }
}
@media screen and (min-width: 992px) {
  .section__card {
    padding: 60px 80px !important;
  }
  .right__card {
    padding: 66px 80px !important;
  }
}
@media screen and (min-width: 1200px) {
  .section__card {
    padding: 80px 100px !important;
    height: 100%;
  }
  .right__card {
    padding: 110px 100px !important;
  }
}
@media screen and (min-width: 1400px) {
  .section__card {
    padding: 110px 100px !important;
  }
  .left__card {
    padding: 88px 100px !important;
  }
  .right__card {
    padding: 118px 100px !important;
  }
}

#section2 {
  .inner__card {
    color: #333333;
    background-color: #ffff;
    padding: 50px 40px;
  }
  @media screen and (min-width: 576px) {
    .inner__card {
      color: #333333;
      background-color: #ffff;
      padding: 60px 90px;
    }
  }
  @media screen and (min-width: 768px) {
    .inner__card {
      color: #333333;
      background-color: #ffff;
      padding: 35px 45px;
    }
  }
  @media screen and (min-width: 992px) {
    .inner__card {
      color: #333333;
      background-color: #ffff;
      padding: 36px 60px;
    }
  }
  @media screen and (min-width: 1200px) {
    .inner__card {
      color: #333333;
      background-color: #ffff;
      padding: 36.5px 60px;
    }
  }
  @media screen and (min-width: 1400px) {
    .inner__card {
      color: #333333;
      background-color: #ffff;
      padding: 36.5px 60px;
    }
  }
}
.m {
  padding-left: 30px;
}
#section8{
  .section__card{
    padding: 48px !important;
  }

}
#section10{
    .left__card{
      padding: 75px 0px 90px 50px;
    }
    .right__card{
      padding: 75px 0px 90px 50px;
    }
  @media screen and (min-width: 768px) {
    .left__card{
      padding: 75px 0px 60px 50px !important;
    }
    .right__card{
      padding: 75px 0px 73px 50px !important;
    }
  }
  @media screen and (min-width: 992px) {
    .left__card{
      padding: 75px 0px 60px 100px !important;
    }
    .right__card{
      padding: 75px 0px 79px 100px !important;
    }
  }
} 