#footer{
    padding-top: 170px !important;
    background: $MAIN-COLOR-FOOTER;
    padding-bottom: 50px;
   color: $COLOR-WHITE;
   a{
       color: $COLOR-WHITE;
   }
   .footer__line{
       background: $COLOR-WHITE;
       height: 1px;
       width: 100%;
       margin-top: 70px;
       margin-bottom: 50px;
   }
}