#footer{
    a{
        position: relative;
        display: block;
        cursor: pointer;
        color: white;
    }
      
     a:before, a:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 3px;
        top: 50%;
        margin-top: -0.5px;
        background: #fff;
      }
      
     a:before {
        left: -2.5px;
      }
     a:after {
        right: 2.5px;
        background: #fff;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      
     a:hover:before {
        background: #fff;
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      
     a:hover:after {
        background: transparent;
        width: 100%;
        transition: 0s;
      }
    padding-top: 170px !important;
    background: $MAIN-COLOR-FOOTER;
    padding-bottom: 50px;
   color: $COLOR-WHITE;
   a{
       color: $COLOR-WHITE;
   }
   .footer__line{
       background: $COLOR-WHITE;
       height: 1px;
       width: 100%;
       margin-top: 70px;
       margin-bottom: 50px;
   }
   .icons{
     display: flex;
   }
  }