
#hero{
    p{
        color: $COLOR-WHITE;
    }
    h1{
        color: $COLOR-WHITE;
    }

    background-color: $MAIN-COLOR;
    .hero__container{
        max-width: 1440px;
        width: 100%;
    }
    .right__column{
        width: 100%;
        max-width: 500px;
        max-height: 100vh;
        position: relative;
    }
    .hero__img{
        width: 100%;
        max-width: 500px;
        height: 1000px;
        max-height: 100vh;
    }
    .hero__play__btn{
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .hero--center{
        width: 100%;
        margin: 0 auto;
    }
    

@media screen and (min-width: 576px) {
 
}


@media screen and (min-width: 768px) {
    .right__column{
        width: 100%;
        max-height: 100vh;
        max-width: 500px;
        height: 100%;
        position: relative;
    }
    .hero__img{
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 100vh;
    }
    .hero__play__btn{
        position: absolute;
        top: 50%;
        left: 50%; 
    }
    .left__column{
        padding-left:60px;
        padding-top: 80px;
    }


}
@media screen and (min-width: 992px) {
    .left__column{
        padding-left:90px;
    }
    .right__column{
        width: 100%;
        max-width: 800px;
        height: 100vh;
        position: relative;
    }
    .hero__img{
        width: 100%;
        height: 100%;
        max-width: 800px;
        max-height: 100vh;
    }
    .left__column{
        padding-top: 162px;
    }


}
}