body{
  overflow-x: hidden;
}
.section__img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}
.title__line{
  margin-bottom: 30px;
}
.title__line{
  display:flex;
  align-items: center;
  position:relative;
  overflow:hidden;  
  &:before{
    content:'';
    display:inline-block;
    height:1px;
    background:#333333;
    width:54px;        
    position:relative; 
    vertical-align:middle;
  }  
  &:before {
    left:-0.5em;    
  }
}
.title__line--white{
  display:flex;
  align-items: center;
  position:relative;
  overflow:hidden;  
  &:before{
    content:'';
    display:inline-block;
    height:1px;
    background:$COLOR-WHITE;
    width:54px;        
    position:relative; 
    vertical-align:middle;
  }  
  &:before {
    left:-0.5em;    
  }
}

@media screen and (min-width: 768px) {
  .title__line {
    margin-bottom: 20px !important;
  }
}
.sec__sub-title {
  margin-bottom: 20px;
}
.sec__title {
  margin-bottom: 68px;
}
.max-w-189 {
  max-width: 189px;
}
@media screen and (max-width: 767px) {
  .sec__title-max-w {
    max-width: 329px;
  }
}
@media screen and (min-width: 768px) {
  .sec__title-max-w {
    max-width: 500px !important;
  }
}
@media screen and (max-width: 992px) {
  #section1{
    margin-top: 600px;
  }
}
@media screen and (max-width: 768px) {
  #section1{
    margin-top: 560px;
  }
}
@media screen and (min-width: 992px) {
  #section1{
    margin-top: 148px;
  }
}
#section1{
  .row{
    background: $COLOR-WHITE;
  }
  padding-top: 30px;
  margin-bottom: 150px;
  .sec__title {
    margin-bottom: 32px;
  }
  .sec__description {
    margin-bottom: 32px;
  }
  @media screen and (max-width: 576px) {
    .section__img {
      max-width: 400px;
    }
  }
  @media screen and (min-width: 576px) {
    .section__img {
      max-width: 500px;
    }
  }
  @media screen and (min-width: 768px) {
    .section__img {
      max-width: 570px;
    }
  }
}

#section2 {
  margin-bottom: 140px;
  ;
  .section__img {
    max-width: 375px;
    min-height: 384px;
  }

  //   @media screen and (min-width: 375px) {
  //     .section__img {
  //       max-width: 600px;
  //       min-height: 384px;
  //     }
  //     .section__img--rel {
  //         position: relative;
  //         z-index: -1;
  //       }
  //       .inner__card {
  //         position: absolute;
  //         border-radius: 10px;
  //         top: 20%;
  //         left: 20%;
  //         z-index: 1;
  //       }
  //   }
  //   @media screen and (min-width: 576px) {
  //     .section__img--rel {
  //         position: relative;
  //         z-index: -1;
  //       }
  //       .inner__card {
  //         position: absolute;
  //         border-radius: 10px;
  //         top: 20%;
  //         left: 20%;
  //         z-index: 1;
  //       }
  //   }
  //   @media screen and (min-width: 768px) {
  //     .section__img {
  //       min-height: 318.5px !important;
  //     }
  //   }
  //   @media screen and (min-width: 992px) {
  //     .section__img {
  //       min-height: 338.5px !important;
  //     }
  //     .section__img--rel {
  //         position: relative;
  //       }
  //       .inner__card {
  //         position: absolute;
  //         border-radius: 10px;
  //         top: 20%;
  //         left: 15%;
  //         z-index: 1;
  //       }
  //    }
  //   @media screen and (min-width: 1200px) {
  //     .section__img {
  //       min-height: 378.5px !important;
  //     }
  //     .section__img--rel {
  //         position: relative;
  //       }
  //       .inner__card {
  //         position: absolute;
  //         border-radius: 10px;
  //         top: 20%;
  //         left: 21%;
  //         z-index: 1;
  //       }
  //   }
}

#section3 {
  .sec3__rel{
    position: relative;
    
  }
  .sec3__img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 208px;
    right: 32px;
    background-color: $MAIN-COLOR;
    width: 96px;
    height: 96px;
    z-index: 99;
  }
  margin-bottom: 150px;
  .sec__img {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 576px) {
    // .sec--img--center {
    //   max-width: 540px;
    //   width: 100%;
    //   margin: 0 auto;
    // }
    .section__img {
      max-width: 540px !important;
      min-height: 280px !important;
     
    }
  }
  @media screen and (max-width: 768px) {
    // .sec--img--center {
    //   max-width: 500px;
    //   width: 100%;
    //   margin: 0 auto;
    // }
    .section__img {
      max-width: 400px;
      min-height: 280px !important;
    }
  }
  @media screen and (min-width: 992px) {
    .section__img {
      max-width: 329px;
      min-height: 290px;
      max-height: 290px;
    }
  }
  @media screen and (min-width: 992px) {
    .section__img {
      max-width: 370px;
      min-height: 290px;
    }
  }
}
#section4 {
  margin-bottom: 170px;
  .menu-p {
    padding: 15px 0;
  }

  ;
  .section__img {
    margin-right: 35px;
    max-width: 200px;
    min-height: 150px;
  }
  .sec__sub-title {
    margin: 0;
  }
  @media screen and (min-width: 576px) {
    .sec__sub__title-sec4 {
      margin-bottom: 32px;
    }
    .section__img {
      margin-right: 35px;
      max-width: 300px;
      min-height: 200px;
    }
  }
  @media screen and (min-width: 768px) {
    .sec__sub__title-sec4 {
      margin-bottom: 32px;
    }
    .section__img {
      margin-right: 35px;
      max-width: 200px;
      min-height: 150px !important;
    }
  }

  @media screen and (min-width: 992px) {
    .sec__price {
      margin-right: 30px;
    }
    .sec__sub__title-sec4 {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: 992px) {
    .sec__sub__title-sec4 {
      margin-bottom: 40px;
    }
  }
}

#section5 {
  
  margin-bottom: 200px;
  
  .section__img {
    max-width: 700px;
    min-height: 84px;
  }
  @media screen and (min-width: 768px) {
    .section__img {
      min-height: 311.5px !important;
    }
  }
  @media screen and (min-width: 992px) {
    .section__img {
      min-height: 332px !important;
    }
    .sec__title-l-h{
      line-height: 64px !important;
    }
  }
  @media screen and (min-width: 1200px) {
    .section__img {
      min-height: 372px !important;
    }
  }
  @media screen and (min-width: 1400px) {
    .section__img {
      min-height: 432px !important;
    }
  }
}
#section6 {
  margin-bottom: 130px;
  .sec__title {
    margin-bottom: 32px;
  }
  @media screen and (max-width: 576px) {
    .section__img {
      max-width: 400px;
    }
  }
  @media screen and (min-width: 576px) {
    .section__img {
      max-width: 500px;
    }
  }
  @media screen and (min-width: 1200px) {
    .section__img {
      max-width: 570px;
    }
  }
}
#section7 {
  margin-bottom: 170px;
  .sec__title{
    max-width: 270px;
  }
  
  .img__relative {
    position: relative;
  }
  .event__text {
    color: $COLOR-WHITE;
    position: absolute;
    z-index: 999;
    bottom: 48%;
    left: 31%;
  }

  @media screen and (max-width: 576px) {
    .section__img {
      margin-bottom: 32px;
      max-width: 400px;
      
    }
  }
  @media screen and (min-width: 576px) {
    .section__img {
      max-width: 500px;
      min-height: 288px !important;
    }
  }
  @media screen and (min-width: 576px) {
    .section__img {
      max-width: 370px;
    }
  }
}

#section8 {
  margin-bottom: 200px;
  .section__img {
    max-width: 170px;
    min-height: 170px;
    margin-bottom: 46px;
  }

  .sec__title {
    margin-bottom: 32px;
  }
  .sec__sub-title {
    margin-bottom: 32px;
  }
  .sec__description {
    margin-bottom: 32px;
  }
}
#section9 {
  a {
    position: relative;
    display: block;
    cursor: pointer;
    color:$MAIN-COLOR;
  }
  
 a:before, a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
  }
  
 a:before {
    left: -2.5px;
  }
 a:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
 a:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
 a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
  margin-bottom: 200px;
  .section__img {
    margin-bottom: 26px;
  }
  .sec__sub-title {
    margin-bottom: 15px;
  }
  @media screen and (max-width: 576px) {
    .section__img {
      max-width: 270px !important;
    }
  }
  @media screen and (min-width: 576px) {
    .section__img {
      max-width: 370px !important;
    }
  }
  @media screen and (min-width: 992px) {
    .section__img {
      max-width: 270px !important;
    }
  }
}
#section10 {
  margin-bottom: -80px;
}