.btn--l-w-f{
    width: 100%;
    max-width: 4em;
}
.btn--m-w-f{
    width: 100%;
    max-width: 3em;
}
.btn--s-w-f{
    width: 100%;
    max-width: 2.5em;
}
.btn--2-w{
    width: 100%;
    max-width: 150px;
}
.p-0{
 padding: 0;
}
.m-0{
    margin: 0;
}
.m-b-32{
    margin-bottom: 32px;
}
.m-b-36{
    margin-bottom: 36px;
}

.m-b-90{
    margin-bottom: 90px !important;
}
.mt-220{
    margin-top: 220px;
}

.m-b-40{
    margin-bottom: 40px;
}
.d-flex{
    display: flex;
}
.justify-c-c{
    justify-content: center;

}
.justify-c-sb{
    justify-content: space-between;
}
.justify-c-s-a{
    justify-content: space-around;
}
.flex-d-c{
    flex-direction: column;
}
.flex-d-r{
    flex-direction: row;
}
.align-item-c{
    align-items: center;
}
.d-none{
    display: none;
}
.m-l-t{
    padding-left: 40px;
}
@media screen and (max-width: 992px){ 
    .d-none-nav{
        display: none;
    }
}    
@media screen and (min-width: 768px){  
    .m-l-md{
        margin-left: 40px;
    }
    .mt-50-md{
        margin-top: 50px;
    }
    .justify-c-f-s-md{
        justify-content: flex-start;
    }
    .d-none-md{
        display: none;
    }
    .d-block-md{
        display: block;
    }
    .d-flex-md{
        display: flex;
    } 
    .flex-g-1-md{
        flex-grow: 3;
    }
    .justify-c-start-md{
        justify-content: start;
    }
    .justify-c-sb-md{
        justify-content:space-between;
    }
    .justify-c-c-md{
        justify-content: center;
    }
    .align-item-c-md{
        align-items: center;
    }
    .order-md-1{
        order: 1;
    }
    .order-md-2{
        order: 2;
    }
    .h-50-md{
        height: 50vh;
    }
   

}
@media screen and (min-width: 992px){   
    .d-none-lg{
        display: none;
    }
    .h-100-lg{
        height: 100vh;
    }
     
}
@media screen and (min-width: 1200px) {
    .title__line-xl-75 {
      padding-top: 75px !important;
    }
    .title__line-xl-40 {
      padding-top: 40px !important;
    }
    .section__img {
      max-width: 570px;
    }
  }
  @media screen and (min-width:1200px ) {
    .p-l-xl{
        padding-left: 130px;
    }
}  