//flex
@media screen and (min-width: 768px){
    .d-flex{
        display: flex;
    }
    .flex-d-r{
        flex-direction: row !important;
    }
    .align-i{
        align-items: center;
    }
    
    .m-t-0{
        margin-top: 0 !important;
    }
    
}

@media screen and (min-width: 992px){
    .d-flex{
        display: flex;
    }
    .flex-d-r{
        flex-direction: row !important;
    }
    .align-i{
        align-items: center;
    }
    .p-z-t-80x100{
        padding: 80px 100px !important;
    }
    .p-t-60{
        padding-top: 60px;
    }
}
@media screen and (min-width: 1200px){
    .d-xl-none{
     display: none;
    }
}
.d-flex{
    display: flex;
}

.align-i-flex{
    align-items: center;
}
.align-i-c{
    align-items: center;
}
.no-wrap{
    justify-content: flex-end;
}
.justify-c-c{
    justify-content: center;
}
.justify-c-s-b{
    justify-content: space-between;
}
.justify-c-f-e{
    justify-content: flex-end;
}
.justify-c-s-a{
    justify-content: space-around;
}
.flex-g-1{
    flex-grow: 1;
}
.flex-d-c{
    flex-direction: column;
}
//over flow
.over-flow-u{
    overflow: unset;
}

.over-flow-h{
    overflow: hidden;
}

//object fit
.object-f-c{
    object-fit: cover;
}


.max-w-270px{
    width: 100%;
    max-width: 270px;
}


//padding
.p-z-40{
    padding: 40px;
}
.p-z-48x48{
    padding: 48px 48px;
}
.p-z-40x56{
    padding: 40px 56px;
}
.p-z-75x50{
    padding: 75px 50px;
}
.p-z-75x26{
    padding: 75px 26px;
}
.p-z-t-80{
    padding: 80px 0;
}
.p-z-t-80x24{
    padding: 80px 24px;
}

//padding bottom
.title__line--padding-b{
    padding-bottom: 32px;
}
.p-b-20{
    padding-bottom: 20px;
}
.p-b-24{
    padding-bottom: 24px;
}
.p-b-26{
    padding-bottom: 26px;
}
.p-b-32{
    padding-bottom: 32px;
}
.p-b-40{
    padding-bottom: 40px;
}
.p-b-48{
    padding-bottom: 48px;
}
.p-b-56{
    padding-bottom: 56px;
}
.p-b-60{
    padding-bottom: 60px;
}

.p-b-70{
    padding-bottom: 70px
}
.p-b-80{
    padding-bottom: 80px;
}
.p-b-90{
    padding-bottom: 90px;
}
.text-color-default{
    color: $COLOR-WHITE;
}
.max-w-170{
    max-width: 170px;
}

//margin
