a{
    color: $COLOR-WHITE;
    cursor: pointer;
    &:hover{
        color:  rgba(0, 123, 122, 1),;
    }
}

#header{
    position: relative;
    .nav{
    position: absolute;
    top: 40px;
    }
    .nav__btn{
        justify-content: flex-end;
    }
    .nav__list{
        display: flex;
        align-items: center;
    }
    @media screen and (min-width: 768px) {
        li{
            padding: 0  30px !important;
        } 
    }
    .nav__links{
        display: flex;
        align-items: center;
        li{
           display: inline-block;
        }
    }    
}
#hero{
    position: relative;
    .title__line{
        padding-top: 140px;
    }
    .p-b-40{
        padding-bottom: 40px;
    }
}
#left__half{
    content: "";
    background: url("/assets/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 450px;
    right: 0px;
    z-index: -1;
}
#right__half{
    height: 100vh;
    content: "";
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: -1;
    background-color: $MAIN-COLOR;
}
@media screen and (min-width: 992px) {
    #left__half{
        content: "";
        background: url("/assets/img/hero.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        width: 50%;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: -1;
    }
    #right__half{
        min-height: 100vh;
        content: "";
        width: 50%;
        position: absolute;
        left: 0px;
        z-index: -1;
        background-color: $MAIN-COLOR;
    }
}