// sections

#section1{
    padding-top: 128px;
    margin-bottom: 144px;
}
#section2{
    a{
        color: $COLOR-WHITE;
    }
    margin-bottom: 139px;
    
}
#section3{
    margin-bottom: 155px;  
 
}
#section4{
    a{
        color: $COLOR-WHITE;
    }
    margin-bottom: 160px;
}
#section5{
    a{
        color: $COLOR-WHITE;
    }
    margin-bottom: 176px;
}
#section6{
    margin-bottom: 162px;
}
#section7{
    margin-bottom: 137px;
}
#section8{
    margin-bottom: 149px;;
}
#section9{
    margin-bottom: 149px;;
}

#footer{
    background-color: $MAIN-COLOR ;
}

