

#hero{
    position: relative;
    .p-b-40{
        padding-bottom: 30px;
    }
    
    @media screen and (max-width: 767px) {
        .title__line{
            margin-top: 90px;
        }
    }
    @media screen and (max-width: 992px) {
        .title__line{
            margin-top: 100px;
        }
    }
    
}

#right__half{
    content: "";
    background: url("./assets/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 420px;
    top: 480px;
    width: 100%;
    position: absolute;
    right: 0px;
    z-index: -1;
}
#left__half{
    min-height: 480px;
    content: "";
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: -1;
    background-color: $MAIN-COLOR;
}
@media screen and (min-width: 768px) {
    #right__half{
        content: "";
        background: url("./assets/img/hero.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 540px;
        top: 560px;
        width: 100%;
        position: absolute;
        right: 0px;
        z-index: -1;
    }
    #left__half{
        min-height: 560px;
        content: "";
        width: 100%;
        position: absolute;
        left: 0px;
        z-index: -1;
        background-color: $MAIN-COLOR;
    }
}
@media screen and (min-width: 992px) {
    #right__half{
        content: "";
        background: url("./assets/img/hero.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 50%;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: -1;
    }
    #left__half{
        height: 100vh;
        content: "";
        width: 50%;
        position: absolute;
        left: 0px;
        z-index: -1;
        background-color: $MAIN-COLOR;
    }
}